<div layout="column" class="md-warn" layout-fill ng-cloak>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Kurs:
        {{ course.name }}</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <md-tabs md-dynamic-height md-border-bottom md-autoselect>
      <md-tab ng-repeat="page in pages" label="{{ page.name }}">
        <md-content class="md-padding" layout="column">
          <p>{{ page.description }}</p>
          <div ng-if="page.haveExercise === true" layout="column" layout-padding>

            <md-input-container>
              <label>Twój kod</label>
              <textarea ng-model="page.startupCode"></textarea>
            </md-input-container>

            <md-button class="md-raised" ng-click="runCode(page)">
              Uruchom kod
            </md-button>

            <md-input-container>
              <label>Wyniki</label>
              <textarea ng-model="page.result"></textarea>
            </md-input-container>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
