<div layout="column" layout-padding>
  <md-toolbar layout="row">
    <p>Kurs: {{ course.name }}</p>
    <span flex></span>
    <md-button class="md-raised">
      Następna strona
    </md-button>
  </md-toolbar>

  <md-content layout-padding class="md-whiteframe-3dp">

    <md-tabs md-dynamic-height md-border-bottom md-autoselect>
      <md-tab ng-repeat="page in header" label="{{ page.name }}">
        <md-content class="md-padding" layout="column">
          <p>{{ page.description }}</p>
          <div ng-if="page.haveExercise === true" layout="column" layout-padding>

            <md-input-container>
              <label>Twój kod</label>
              <textarea ng-model="userCode"></textarea>
            </md-input-container>

            <md-button class="md-raised" ng-click="runCode(page._id)">
              Uruchom kod
            </md-button>

            <md-input-container>
              <label>Wyniki</label>
              <textarea ng-model="resoult"></textarea>
            </md-input-container>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
