<div layout="column" layout-fill ng-cloak>
  <md-content flex>
    <md-tabs md-dynamic-height md-border-bottom md-autoselect>
      <md-tab label="{{ courseshow.course.name }}">
        <md-content layout="column" layout-align="start center" layout-padding>
          <h1>{{ courseshow.course.name }}</h1>
          <h2>{{ courseshow.course.description }}</h2>
        </md-content>
      </md-tab>

      <md-tab ng-repeat="page in courseshow.pages" label="{{ page.name }}">
        <md-content layout="row">
          <div flex="30" layout-margin>
            <p>{{ page.description }}</p>
          </div>
          <div ng-if="page.haveExercise === true" layout="column" flex="70">

            <md-input-container ui-event="{shown: 'refreshCodemirror=!refreshCodemirror' }" flex="70">
              <label>Twój kod</label>
              <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="page.startupCode"></textarea>
            </md-input-container>

            <md-button class="md-raised" ng-click="courseshow.runCode(page)" flex="10">
              Uruchom kod
            </md-button>

            <md-input-container flex="20">
              <label>Wyniki</label>
              <textarea ng-model="page.result"></textarea>
            </md-input-container>
          </div>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
