<md-content layout-padding layout="column">
  <md-tabs md-dynamic-height md-border-bottom md-autoselect class="md-whiteframe-2dp" md-selected="selectedIndex">

      <md-tab  label="Informacje o kursie">
        <md-content layout="column">
          <form ng-submit="courseupdate.editCourse()" layout="column">
            <md-input-container>
              <span flex></span>
              <label>Nazwa</label>
              <input ng-model="courseupdate.course.name">
            </md-input-container>
            <span flex></span>
            <md-input-container>
              <label>Opis</label>
              <textarea ng-model="courseupdate.course.description"></textarea>
            </md-input-container>
            <md-switch ng-model="courseupdate.course.publicAcces">
              Dostęp publiczny
            </md-switch>
            <div layout="row">
              <md-button class="md-primary md-raised" type="submit">Zapisz kurs</md-button>
              <md-button class="md-warn md-raised" ng-click="courseupdate.removeCourse()">Usuń kurs</md-button>
            </div>
          </form>
        </md-content>
      </md-tab>

    <md-tab ng-repeat="page in courseupdate.pages" label="Strona: {{ page.name }}">
      <md-content layout="column">
        <form ng-submit="courseupdate.updatePage(page)" layout="column">
          <md-input-container>
            <label>Nazwa</label>
            <textarea ng-model="page.name"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Treść</label>
            <textarea ng-model="page.description"></textarea>
          </md-input-container>

          <md-switch ng-model="page.haveExercise">
            Ćwiczenie praktyczne
          </md-switch>

          <md-input-container>
            <label>Nazwa pliku użytkownika</label>
            <textarea ng-model="page.startupFileName"></textarea>
          </md-input-container>

          <md-input-container>
            <label>Komenda uruchamiająca testy</label>
            <textarea ng-model="page.runCommand"></textarea>
          </md-input-container>

          <md-input-container>
            <label>Kod początkowy</label>
            <textarea ng-model="page.startupCode"></textarea>
          </md-input-container>

          <md-list flex>
            <md-subheader>Pliki dodatkowe</md-subheader>
            <md-list-item ng-repeat="item in page.files" class="md-whiteframe-4dp">
              <md-content layout="column" flex>
              <md-input-container>
                <label>Nazwa pliku</label>
                <textarea ng-model="item.fileName"></textarea>
              </md-input-container>
              <md-input-container>
                <label>Treść pliku</label>
                <textarea ng-model="item.fileCode"></textarea>
              </md-input-container>
              <md-button ng-click="courseupdate.removeFile(page._id, item.fileName)">Usuń plik</md-button>
            </md-content>
             </md-list-item>
          </md-list>

          <md-content ng-model="courseupdate.newFile" layout="column" class="md-whiteframe-4dp" layout-padding>
            <md-subheader>Dodaj plik dodatkowy:</md-subheader>
            <md-input-container>
              <label>Nazwa pliku</label>
              <textarea ng-model="courseupdate.newFile.fileName"></textarea>
            </md-input-container>
            <md-input-container>
              <label>Kod pliku</label>
              <textarea ng-model="courseupdate.newFile.fileCode"></textarea>
            </md-input-container>
            <md-button ng-click="courseupdate.addFile(page._id, courseupdate.newFile)">Dodaj plik</md-button>
          </md-content>


          <md-content>
            <label>Zakazane słowa</label>
            <md-chips ng-model="page.forbiddenWords" readonly="false">
            </md-chips>
          </md-content>

          <md-content>
            <label>Wymagane słowa</label>
            <md-chips ng-model="page.requiredWords" readonly="false">
            </md-chips>
          </md-content>

          <div layout="row">
            <md-button class="md-primary md-raised" type="submit">Zapisz zmiany</md-button>
            <md-button class="md-warn md-raised" ng-click="courseupdate.removePage(page._id)">Usuń stronę</md-button>
          </div>
        </form>
      </md-content>
    </md-tab>

    <md-tab label="Dodaj stronę">
      <md-content layout="column">
        <form ng-submit="courseupdate.createPage()" name="form" novalidate layout="column">
          <md-input-container>
            <label>Nazwa</label>
            <input ng-model="courseupdate.newPage.name" placeholder="Nazwa">
          </md-input-container>

          <md-input-container>
            <label>Treść</label>
            <textarea ng-model="courseupdate.newPage.description" placeholder="Opis"></textarea>
          </md-input-container>
          <div layout="row">
            <md-button class="md-primary md-raised" type="submit">Dodaj stronę</md-button>
          </div>
        </form>
      </md-content>
    </md-tab>
  </md-tabs>

</md-content>
