<md-toolbar layout="row" layout-align="start center" class="toolbar md-whiteframe-8dp">
  <navbar-left>
    <md-button ng-href="/">Akademia wzorców projektowych</md-button>
      <md-button ng-href="/courses" ng-show="$auth.currentUser">Kursy</md-button>
      <md-button ng-href="/courses/add" ng-show="toolbar.currentUser">Dodaj kurs</md-button>
  </navbar-left>

  <span class="flex"></span>

  <navbar-right>
    <div ng-hide="$auth.currentUser">
      <md-button ng-href="/login">Logowanie</md-button>
      <md-button ng-href="/register">Rejestracja</md-button>
    </div>
    <div ng-show="$auth.currentUser">
      <md-button label="email">{{ toolbar.name }}</md-button>
      <md-button ng-click="toolbar.logout()">Wyloguj się</md-button>
    </div>
  </navbar-right>
</md-toolbar>
