<md-toolbar class="toolbar" layout="row" layout-align="start center" layout-padding="">
  <navbar-left>
    <md-button ng-href="/">Pattern Design Academy</md-button>
    <md-button ng-href="/about">O projekcie</md-button>
    <md-button ng-href="/courses">Kursy</md-button>
  </navbar-left>

  <span class="flex"></span>

  <navbar-right>
    <md-button ng-href="/login">Logowanie</md-button>
    <md-button ng-href="/register">Rejestracja</md-button>
    <login-buttons></login-buttons>
  </navbar-right>
</md-toolbar>
