<md-content layout="row" layout-align="center start" layout-fill layout-margin>
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>

    <md-toolbar class="md-primary" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1"> Zarejestruj nowe konto</h3>
      </div>
    </md-toolbar>

    <md-divider class="inset"></md-divider>

    <div layout="row" layout-fill layout-margin>
      <p class="md-body-2">Zaloguj się przy użyciu:</p>
      <md-button class="md-raised" ng-click="register.loginFacebook()">
        <span>Facebook</span>
      </md-button>
    </div>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form name="registerForm" ng-submit="register.register()" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <label>Imię</label>
          <input type="text" ng-model="register.credentials.firstName" placeholder="imię" aria-label="firstName" required/>
        </md-input-container>
        <md-input-container>
          <label>Nazwisko</label>
          <input type="text" ng-model="register.credentials.lastName" placeholder="nazwisko" aria-label="lastName" required/>
        </md-input-container>
        <md-input-container>
          <label> Email </label>
          <input type="email" ng-model="register.credentials.email" placeholder="email" aria-label="email" required/>
        </md-input-container>
        <md-input-container>
          <label> Hasło </label>
          <input type="password" ng-model="register.credentials.password" placeholder="hasło" aria-label="password" required/>
        </md-input-container>
        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" type="submit" aria-label="login" ng-disabled="register.registerForm.$invalid()">Zarejestruj się</md-button>
        </div>
      </form>

      <md-divider></md-divider>
      <div layout="row" layout-align="center">
        <a class="md-button" href="/login">Posiadasz już konto?</a>
      </div>

    </div>

  </md-whiteframe>
</md-content>
