<md-content layout="row" layout-align="center start" layout-fill layout-margin>
	<md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
		<md-toolbar class="md-primary" layout="column" layout-align="end" layout-fill>
			<div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
				<h3 class="md-display-1">Kursy</h3>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-subheader class="md-no-sticky">Wybierz stronę.</md-subheader>
				<md-list-item dir-paginate="page in pages | itemsPerPage: perPage" total-items="pagesCount" current-page='site' ng-click="startPage(page)" class="secondary-button-padding">
					<div class="md-list-item-text" layout="row">
						<h4>{{ page.name }} - {{ page.description }}</h4>
						<span class="md-secondary">
							<md-button class="md-raised md-primary" ng-click="startPage(page)">Zobacz</md-button>
							<md-button class="md-raised md-primary" ng-click="updatePage(page)">Edytuj</md-button>
							<md-button class="md-raised md-primary" ng-click="removePage(page)">Usuń</md-button>
					</span>
					</div>
				</md-list-item>
			</md-list>
    </md-content>
	</md-whiteframe>
</md-content>

<md-content layout="row" layout-align="center start" layout-fill layout-margin>
	<md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
		<md-toolbar class="md-primary" layout="column" layout-align="end" layout-fill>
			<div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
				<h3 class="md-display-1">Wyszukiwanie stron</h3>
			</div>
		</md-toolbar>
		<md-content layout-margin>
			<dir-pagination-controls on-page-change="siteChanged(newPageNumber)"></dir-pagination-controls>

			<div layout="column">
				<md-input-container>
					<input type="Search" ng-model="search" placeholder="Wyszukaj stronę">
				</md-input-container>

					<p>Sotruj:</p>

					<md-select ng-model="orderProperty">
						<md-option value="1">Rosnąco</md-option>
						<md-option value="-1">Malejąco</md-option>
					</md-select>

			</div>
		</md-content>
	</md-whiteframe>
</md-content>
