<md-content layout-padding class="md-whiteframe-3dp" layout="column">
  <form ng-submit="update()" layout="column">
    <div layout="row">
      <md-input-container>
        <label>Nazwa</label>
        <input ng-model="course.name">
      </md-input-container>
      <span flex></span>
      <md-switch ng-model="course.isPublic">
        Dostęp publiczny
      </md-switch>
      <span flex></span>
      <md-button type="submit">Zapisz</md-button>
      <md-button ng-click="backToListCourse()">Wróć</md-button>
    </div>
    <md-input-container>
      <label>Opis</label>
      <textarea ng-model="course.description"></textarea>
    </md-input-container>
  </form>

  <form class="md-whiteframe-z1" ng-submit="save()" name="form" novalidate layout="column">
    <p>Dodaj stronę</p>

    <md-input-container>
      <label>Nazwa</label>
      <input ng-model="newPage.name" placeholder="Nazwa">
    </md-input-container>

    <md-input-container>
      <label>Opis</label>
      <input ng-model="newPage.description" placeholder="Opis">
    </md-input-container>

    <input class="md-button" type="submit" value="Dodaj stronę">
  </form>


  <md-tabs md-dynamic-height md-border-bottom md-autoselect>
    <md-tab ng-repeat="page in getPages()" label="{{ page.name }}">
      <md-content class="md-padding" layout="column">
      </md-content>
    </md-tab>
  </md-tabs>

</md-content>
