<md-content layout-padding class="md-whiteframe-3dp" layout="column">
  <form ng-submit="editCourse()" layout="column">
    <div layout="row">
      <md-button type="submit">Zapisz</md-button>
      <md-button ng-click="removeCourse()">Usuń kurs</md-button>
      <md-button ng-click="backToListCourse()">Wróć</md-button>
    </div>
    <md-switch ng-model="course.publicAcces">
      Dostęp publiczny
    </md-switch>
    <span flex></span>
    <md-input-container>
      <label>Nazwa</label>
      <input ng-model="course.name">
    </md-input-container>
    <span flex></span>
    <md-input-container>
      <label>Opis</label>
      <textarea ng-model="course.description"></textarea>
    </md-input-container>

  </form>

  <md-tabs md-dynamic-height md-border-bottom md-autoselect class="md-whiteframe-2dp" md-selected="selectedIndex">
    <md-tab ng-repeat="page in coursePages" label="{{ page.name }}">
      <md-content layout="column">
        <form ng-submit="editPage(page)" layout="column">
          <md-input-container>
            <label>Nazwa</label>
            <textarea ng-model="page.name"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Treść</label>
            <textarea ng-model="page.description"></textarea>
          </md-input-container>

          <input class="md-button" type="submit" value="Zapisz zmiany">
          <md-button ng-click="removePage(page._id)">Usuń stronę</md-button>
        </form>



      </md-content>
    </md-tab>

    <md-tab label="Dodaj stronę">
      <md-content layout="column">
        <form ng-submit="createPage()" name="form" novalidate layout="column">
          <md-input-container>
            <label>Nazwa</label>
            <input ng-model="newPage.name" placeholder="Nazwa">
          </md-input-container>

          <md-input-container>
            <label>Treść</label>
            <textarea ng-model="newPage.description" placeholder="Opis"></textarea>
          </md-input-container>

          <input class="md-button" type="submit" value="Dodaj stronę">
        </form>
      </md-content>
    </md-tab>
  </md-tabs>

</md-content>
