<md-content layout="row" layout-align="center start" layout-fill layout-margin>
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <form ng-submit="coursecreate.save()" name="form" layout="column">
      <md-toolbar class="md-accent" layout="column" layout-align="end" layout-fill>
        <div layout="row" class="md-toolbar-tools ">
          <p>Dodaj kurs</p>
        </div>
      </md-toolbar>
      <md-content layout="column" layout-padding>
        <md-input-container >
          <label>Nazwa</label>
          <input ng-model="coursecreate.newCourse.name" placeholder="Nazwa" aria-label="Nazwa" required>
        </md-input-container>
        <md-input-container>
          <label>Opis</label>
          <textarea ng-model="coursecreate.newCourse.description" placeholder="Opis" aria-label="Opis" required></textarea>
        </md-input-container>

        <md-switch ng-model="coursecreate.newCourse.publicAcces" ng-value="coursecreate.newCourse.publicAcces">
          Dostęp publiczny
        </md-switch>

        <div layout="row" layout-fill>
          <input class="md-button md-raised md-primary" type="submit" ng-disabled="form.$invalid" value="Dodaj kurs">
          <md-button class="md-raised " ng-click="coursecreate.backToListCourse()">Wróć</md-button>
        </div>
      </md-content >
    </form>
  </md-whiteframe>
</md-content>
